@model ResturantWebApp.Models.Category

@{
    ViewData["Title"] = "Create";
}
    <div class="categoryContainer">
        <h1>Create</h1>
        <h3>Create a new category.</h3>

        <div class="model-content">
            <div class="inputForm">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class=""></div>
                    <div class="">
                        <label asp-for="Name" class="">Category Name</label>
                        <input asp-for="Name" class="" />
                        <span asp-validation-for="Name" class=""></span>
                    </div>
                    <div class="">
                        <label asp-for="Description" class=""></label>
                        <input asp-for="Description" class="" />
                        <span asp-validation-for="Description" class=""></span>
                    </div>
                    <div id="btnSave">
                        <input type="submit" value="Create" class="" />
                    </div>
                </form>
            </div>
        </div>
    </div>
<p>

</p>
<div class="goButton">
    <a id="viewButton" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
